<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.purchase.mapper.DrugInformationSheetMapper">
  <resultMap id="DrugInformationSheet" type="com.hospital.purchase.domain.DrugInformationSheet">
    <id column="drug_id" jdbcType="INTEGER" property="drugId" />
    <result column="drug_serial_number" jdbcType="INTEGER" property="drugSerialNumber" />
    <result column="drug_item_no" jdbcType="INTEGER" property="drugItemNo" />
    <result column="generic_drug" jdbcType="VARCHAR" property="genericDrug" />
    <result column="dosage_form" jdbcType="VARCHAR" property="dosageForm" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="units" jdbcType="VARCHAR" property="units" />
    <result column="conversion_factor" jdbcType="INTEGER" property="conversionFactor" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="trade_name" jdbcType="VARCHAR" property="tradeName" />
    <result column="the_price" jdbcType="REAL" property="thePrice" />
    <result column="approval_number" jdbcType="INTEGER" property="approvalNumber" />
    <result column="approval_number_date" jdbcType="DATE" property="approvalNumberDate" />
    <result column="whether_import" jdbcType="INTEGER" property="whetherImport" />
    <result column="packaging" jdbcType="VARCHAR" property="packaging" />
    <result column="packing_unit" jdbcType="VARCHAR" property="packingUnit" />
    <result column="latest_retail_price" jdbcType="REAL" property="latestRetailPrice" />
    <result column="Source_price" jdbcType="VARCHAR" property="sourcePrice" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="quality_hierarchy" jdbcType="VARCHAR" property="qualityHierarchy" />
    <result column="inspection_report" jdbcType="INTEGER" property="inspectionReport" />
    <result column="drug_inspection" jdbcType="INTEGER" property="drugInspection" />
    <result column="drug_inspection_report" jdbcType="DATE" property="drugInspectionReport" />
    <result column="dc_id" jdbcType="INTEGER" property="dcId" />
    <result column="descrip_id" jdbcType="INTEGER" property="descripId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="isdel" jdbcType="INTEGER" property="isdel" />
    <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />

    <association property="units1" javaType="com.hospital.purchase.domain.Units">
      <id column="units_id" jdbcType="INTEGER" property="unitsId" />
      <result column="units" jdbcType="VARCHAR" property="units" />
      <result column="units_fid" jdbcType="INTEGER" property="unitsFid" />
    </association>
    <association property="drugCategory" javaType="com.hospital.purchase.domain.DrugCategory">
      <id column="dc_id" jdbcType="INTEGER" property="dcId" />
      <result column="drug_type" jdbcType="VARCHAR" property="drugType" />
      <result column="state" jdbcType="VARCHAR" property="state" />
    </association>
  </resultMap>
  <resultMap id="Category" type="com.hospital.purchase.domain.DrugCategory">
    <id column="dc_id" jdbcType="INTEGER" property="dcId" />
    <result column="drug_type" jdbcType="VARCHAR" property="drugType" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.hospital.purchase.domain.DrugInformationSheet">
    <id column="drug_id" jdbcType="INTEGER" property="drugId" />
    <result column="drug_serial_number" jdbcType="INTEGER" property="drugSerialNumber" />
    <result column="drug_item_no" jdbcType="INTEGER" property="drugItemNo" />
    <result column="generic_drug" jdbcType="VARCHAR" property="genericDrug" />
    <result column="dosage_form" jdbcType="VARCHAR" property="dosageForm" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="units" jdbcType="VARCHAR" property="units" />
    <result column="conversion_factor" jdbcType="INTEGER" property="conversionFactor" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="trade_name" jdbcType="VARCHAR" property="tradeName" />
    <result column="the_price" jdbcType="REAL" property="thePrice" />
    <result column="approval_number" jdbcType="INTEGER" property="approvalNumber" />
    <result column="approval_number_date" jdbcType="DATE" property="approvalNumberDate" />
    <result column="whether_import" jdbcType="INTEGER" property="whetherImport" />
    <result column="packaging" jdbcType="VARCHAR" property="packaging" />
    <result column="packing_unit" jdbcType="VARCHAR" property="packingUnit" />
    <result column="latest_retail_price" jdbcType="REAL" property="latestRetailPrice" />
    <result column="Source_price" jdbcType="VARCHAR" property="sourcePrice" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="quality_hierarchy" jdbcType="VARCHAR" property="qualityHierarchy" />
    <result column="inspection_report" jdbcType="INTEGER" property="inspectionReport" />
    <result column="drug_inspection" jdbcType="INTEGER" property="drugInspection" />
    <result column="drug_inspection_report" jdbcType="DATE" property="drugInspectionReport" />
    <result column="dc_id" jdbcType="INTEGER" property="dcId" />
    <result column="descrip_id" jdbcType="INTEGER" property="descripId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="isdel" jdbcType="INTEGER" property="isdel" />
    <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />
    <association property="units1" javaType="com.hospital.purchase.domain.Units">
      <id column="unitsId" property="unitsId"/>
      <result column="uunits" property="units"/>
      <result column="unitsFid" property="unitsFid"/>
    </association>
    <association property="enterprise" javaType="com.hospital.purchase.domain.Enterprise">
      <id column="eenterpriseId" property="enterpriseId"/>
      <result column="enterprise_name" property="enterpriseName"/>
      <result column="business_license" property="businessLicense"/>
      <result column="registration_time" property="registrationTime"/>
    </association>
    <association property="qualityLevel" javaType="com.hospital.purchase.domain.QualityLevel">
      <id column="qlevelId" property="levelId"/>
      <result column="level_type" property="levelType"/>
    </association>
    <association property="drugCategory" javaType="com.hospital.purchase.domain.DrugCategory">
      <id column="drdcId" property="dcId"/>
      <result column="drug_type" property="drugType"/>
      <result column="state" property="state"/>
    </association>
    <association property="supplierManagement" javaType="com.hospital.purchase.domain.SupplierManagement">
      <id column="ssuplyId" property="supplyId"/>
      <result column="Review_results" property="reviewResults"/>
      <result column="ssupplierId" property="supplierId"/>
      <result column="sdrugId" property="drugId"/>
      <result column="Drug_transaction_status" property="drugTransactionStatus"/>
      <result column="isdel" property="isdel"/>
      <association property="supplier" javaType="com.hospital.purchase.domain.Supplier">
        <id column="suSupplier" property="supplierId"/>
        <result column="Supplier_name" property="supplierName"/>
        <result column="business_license" property="businessLicense"/>
        <result column="Registration_time" property="registrationTime"/>
      </association>
    </association>
    <association property="purchase" javaType="com.hospital.purchase.domain.Purchase">
      <id column="puDrugID" property="drugId"/>
      <result column="result" property="result"/>
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    drug_id, drug_serial_number, drug_item_no, generic_drug, dosage_form, specification,
    units, conversion_factor, enterprise_id, trade_name, the_price, approval_number,
    approval_number_date, whether_import, packaging, packing_unit, latest_retail_price,
    Source_price, level_id, quality_hierarchy, inspection_report, drug_inspection, drug_inspection_report,
    dc_id, descrip_id, description, isdel, proxy_id
  </sql>
  <select id="selecetDrugInformationSheet" resultMap="BaseResultMap">
    SELECT d.*,u.units_id,u.units AS uunits,u.units_fid,e.enterprise_id as eenterpriseId,
    e.enterprise_name,e.business_license,e.registration_time,
    q.level_id as qlevelId,q.level_type,
    dr.dc_id as drdcId,dr.drug_type,dr.state,
    s.drug_id as sdrugId,s.Review_results,s.supply_id AS ssuplyId,s.supplier_id AS
    ssupplierId,s.Drug_transaction_status,s.isdel,
    su.supplier_id AS suSupplier,su.Supplier_name,su.business_license,
    su.Registration_time,pu.result,pu.drug_id AS puDrugID
    FROM drug_information_sheet d
    LEFT JOIN units u ON d.units= u.units_id
    LEFT JOIN enterprise e ON d.enterprise_id =e.enterprise_id
    LEFT JOIN quality_level q ON d.level_id=q.level_id
    LEFT JOIN drug_category dr ON dr.dc_id=d.dc_id
    LEFT JOIN supplier_management s ON d.drug_id=s.drug_id
    LEFT JOIN supplier su ON s.supplier_id = su.supplier_id
    LEFT JOIN purchase pu ON pu.drug_id=d.drug_id
    WHERE d.proxy_id=1 AND  s.Drug_transaction_status=1
  </select>
  <select id="selecetDrugInformationSheet1" resultMap="BaseResultMap">
    SELECT d.*,u.units_id,u.units AS uunits,u.units_fid,e.enterprise_id as eenterpriseId,
    e.enterprise_name,e.business_license,e.registration_time,
    q.level_id as qlevelId,q.level_type,
    dr.dc_id as drdcId,dr.drug_type,dr.state,
    s.drug_id as sdrugId,s.Review_results,s.supply_id AS ssuplyId,s.supplier_id AS
    ssupplierId,s.Drug_transaction_status,s.isdel,
    su.supplier_id AS suSupplier,su.Supplier_name,su.business_license,
    su.Registration_time,pu.result,pu.drug_id AS puDrugID
    FROM drug_information_sheet d
    LEFT JOIN units u ON d.units= u.units_id
    LEFT JOIN enterprise e ON d.enterprise_id =e.enterprise_id
    LEFT JOIN quality_level q ON d.level_id=q.level_id
    LEFT JOIN drug_category dr ON dr.dc_id=d.dc_id
    LEFT JOIN supplier_management s ON d.drug_id=s.drug_id
    LEFT JOIN supplier su ON s.supplier_id = su.supplier_id
    LEFT JOIN purchase pu ON pu.drug_id=d.drug_id
    WHERE d.proxy_id=1 AND  s.Drug_transaction_status=0
  </select>
  <select id="findSerchBean" parameterType="com.hospital.purchase.domain.dto.SelectDto" resultMap="BaseResultMap">
    SELECT d.*,u.units_id,u.units AS uunits,u.units_fid,e.enterprise_id as eenterpriseId,
    e.enterprise_name,e.business_license,e.registration_time,
    q.level_id as qlevelId,q.level_type,
    dr.dc_id as drdcId,dr.drug_type,dr.state,
    s.drug_id as sdrugId,s.Review_results,s.supply_id AS ssuplyId,s.supplier_id AS
    ssupplierId,s.Drug_transaction_status,s.isdel,
    pu.result,pu.drug_id AS puDrugID, su.supplier_id AS suSupplier,su.Supplier_name,su.business_license,
    su.Registration_time
    FROM drug_information_sheet d
    LEFT JOIN units u ON d.units= u.units_id
    LEFT JOIN enterprise e ON d.enterprise_id =e.enterprise_id
    LEFT JOIN quality_level q ON d.level_id=q.level_id
    LEFT JOIN drug_category dr ON dr.dc_id=d.dc_id
    LEFT JOIN supplier_management s ON s.drug_id=d.drug_id
    LEFT JOIN purchase pu ON pu.drug_id=d.drug_id
    LEFT JOIN supplier su ON s.supplier_id = su.supplier_id
    WHERE proxy_id=1
    <if test="drugSerialNumber!=null">
      and d.drug_serial_number=#{drugSerialNumber}
    </if>
    <if test="genericDrug!=null and genericDrug!=''">
      and d.generic_drug=#{genericDrug}
    </if>
    <if test="dosageForm!=null and dosageForm!=''">
      and d.dosage_form=#{dosageForm}
    </if>
    <if test="specification!=null and specification!=''">
      and d.specification=#{specification}
    </if>
    <if test="units!=null and units!=''">
      and d.units=#{units}
    </if>
    <if test="conversionFactor!=null and conversionFactor!=''">
      and d.conversion_factor=#{conversionFactor}
    </if>
    <if test="enterpriseId!=null and enterpriseId!=''">
      and d.enterprise_id=#{enterpriseId}
    </if>
    <if test="tradeName!=null and tradeName!=''">
      and d.trade_name=#{tradeName}
    </if>
    <if test="minMoney!=null and minMoney!='' and maxMoney!=null and maxMoney!=''">
      and d.the_price BETWEEN #{minMoney} AND #{maxMoney}
    </if>
    <if test="leveId!=null and leveId!='' and leveId!='-1'">
      and d.level_id=#{leveId}
    </if>
    <if test="dcId!=null and dcId!='' and dcId!='-1'">
      and d.dc_id=#{dcId}
    </if>
    <if test="descripId!=null and descripId!='' and descripId!='-1'">
      and d.descrip_id=#{descripId}
    </if>
    <if test="supplierId!=null and supplierId!='' and supplierId!='-1'">
      and s.supplier_id=#{supplierId}
    </if>
    <if test="result!=null and result!='' and result!='-1'">
      and pu.result=#{result}
    </if>
    GROUP BY d.drug_id
  </select>
  <select id="selecetDrugInformationSheetById" parameterType="Integer" resultMap="BaseResultMap">
    SELECT d.*,u.units_id,u.units AS uunits,u.units_fid,e.enterprise_id as eenterpriseId,
    e.enterprise_name,e.business_license,e.registration_time,
    q.level_id as qlevelId,q.level_type,
    dr.dc_id as drdcId,dr.drug_type,dr.state,
    s.drug_id as sdrugId,s.Review_results,s.supply_id AS ssuplyId,s.supplier_id AS
    ssupplierId,s.Drug_transaction_status,s.isdel,
    su.supplier_id AS suSupplier,su.Supplier_name,su.business_license,
    su.Registration_time
    FROM drug_information_sheet d
    LEFT JOIN units u ON d.units= u.units_id
    LEFT JOIN enterprise e ON d.enterprise_id =e.enterprise_id
    LEFT JOIN quality_level q ON d.level_id=q.level_id
    LEFT JOIN drug_category dr ON dr.dc_id=d.dc_id
    LEFT JOIN supplier_management s ON d.drug_id=s.drug_id
    LEFT JOIN supplier su ON s.supplier_id = su.supplier_id
    WHERE proxy_id=1 AND d.drug_id=#{drugId}
  </select>
  <update id="updateInfo" parameterType="com.hospital.purchase.domain.dto.SelectDto">
    UPDATE drug_information_sheet SET
    trade_name=#{tradeName},
    approval_number=#{approvalNumber},
    approval_number_date=#{approvalNumberDate},
    whether_import=#{whetherImport},
    packaging=#{packaging},
    packing_unit=#{packingUnit},
    latest_retail_price=#{latestRetailPrice},
    Source_price=#{SourcePrice},
    level_id=#{leveId},
    quality_hierarchy=#{qualityHierarchy},
    inspection_report=#{inspectionReport},
    drug_inspection=#{drugInspection},
    drug_inspection_report=#{drugInspectionReport},
    description=#{description}
    WHERE drug_id=#{drugId}
  </update>
  <select id="findall" resultMap="DrugInformationSheet">
    SELECT
    dsi.drug_item_no,
    dsi.generic_drug,
    dsi.dosage_form,
    dsi.specification,
    ui.units,
    dsi.conversion_factor,
    dc.drug_type,
    dsi.descrip_id
    FROM
    drug_information_sheet dsi
    LEFT JOIN units ui ON dsi.units = ui.units_id
    LEFT JOIN drug_category dc on dsi.dc_id=dc.dc_id;
  </select>
  <select id="seldrugc" resultMap="Category">
    SELECT * from drug_category;
  </select>
  <insert id="findadd">
    INSERT INTO `drug_purchase`.`drug_information_sheet` (
    `drug_id`,
    `drug_item_no`,
    `generic_drug`,
    `dosage_form`,
    `specification`,
    `units`,
    `conversion_factor`,
    `dc_id`,
    `descrip_id`,
    `isdel`,
    `proxy_id`
    )
    VALUES
    (
    null,#{drugItemNo},#{genericDrug},#{dosageForm},#{specification},#{units},#{conversionFactor},#{dcId},#{descripId},1,0
    );
  </insert>

  <insert id="xxadd">
    INSERT INTO `drug_purchase`.`drug_information_sheet` (
    `drug_id`,
    `drug_serial_number`,
    `generic_drug`,
    `dosage_form`,
    `specification`,
    `units`,
    `conversion_factor`,
    `enterprise_id`,
    `trade_name`,
    `the_price`,
    `approval_number`,
    `approval_number_date`,
    `whether_import`,
    `packaging`,
    `packing_unit`,
    `latest_retail_price`,
    `Source_price`,
    `level_id`,
    `quality_hierarchy`,
    `inspection_report`,
    `drug_inspection`,
    `drug_inspection_report`,
    `dc_id`,
    `descrip_id`,
    `description`,
    `isdel`,
    `proxy_id`
    )
    VALUES
    (
    null,#{drugSerialNumber},#{genericDrug},#{dosageForm},#{specification},#{units},#{conversionFactor},#{enterpriseId},#{tradeName},
    #{thePrice},#{approvalNumber},#{thePrice},#{whetherImport},#{packaging},#{packingUnit},#{latestRetailPrice},#{sourcePrice},#{levelId},
    #{qualityHierarchy},#{inspectionReport},#{drugInspection},#{drugInspectionReport},#{seldrugid},#{descripId},#{description},0,1
    );
  </insert>
</mapper>