<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.purchase.mapper.DrugCategoryMapper">
  <resultMap id="BaseResultMap" type="com.hospital.purchase.domain.DrugCategory">
    <id column="dc_id" jdbcType="INTEGER" property="dcId" />
    <result column="drug_type" jdbcType="VARCHAR" property="drugType" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    dc_id, drug_type, state
  </sql>
  <select id="findDrugCategory" resultMap="BaseResultMap">
    SELECT * FROM drug_category
  </select>
</mapper>