<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.purchase.mapper.EnterpriseMapper">
  <resultMap id="BaseResultMap" type="com.hospital.purchase.domain.Enterprise">
    <id column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="registration_time" jdbcType="DATE" property="registrationTime" />
  </resultMap>
</mapper>