<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.purchase.mapper.HospitalMapper">
  <resultMap id="BaseResultMap" type="com.hospital.purchase.domain.Hospital">
    <id column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
    <result column="Hospital_number" jdbcType="VARCHAR" property="hospitalNumber" />
    <result column="Registered_address" jdbcType="VARCHAR" property="registeredAddress" />
    <result column="business_licence" jdbcType="VARCHAR" property="businessLicence" />
    <result column="registration_time" jdbcType="DATE" property="registrationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    hospital_id, hospital_name, Hospital_number, Registered_address, business_licence, 
    registration_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospital
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital.purchase.domain.Hospital">
    insert into hospital (hospital_id, hospital_name, Hospital_number, 
      Registered_address, business_licence, registration_time
      )
    values (#{hospitalId,jdbcType=INTEGER}, #{hospitalName,jdbcType=VARCHAR}, #{hospitalNumber,jdbcType=VARCHAR}, 
      #{registeredAddress,jdbcType=VARCHAR}, #{businessLicence,jdbcType=VARCHAR}, #{registrationTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hospital.purchase.domain.Hospital">
    insert into hospital
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="hospitalName != null">
        hospital_name,
      </if>
      <if test="hospitalNumber != null">
        Hospital_number,
      </if>
      <if test="registeredAddress != null">
        Registered_address,
      </if>
      <if test="businessLicence != null">
        business_licence,
      </if>
      <if test="registrationTime != null">
        registration_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalNumber != null">
        #{hospitalNumber,jdbcType=VARCHAR},
      </if>
      <if test="registeredAddress != null">
        #{registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessLicence != null">
        #{businessLicence,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null">
        #{registrationTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital.purchase.domain.Hospital">
    update hospital
    <set>
      <if test="hospitalName != null">
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalNumber != null">
        Hospital_number = #{hospitalNumber,jdbcType=VARCHAR},
      </if>
      <if test="registeredAddress != null">
        Registered_address = #{registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessLicence != null">
        business_licence = #{businessLicence,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null">
        registration_time = #{registrationTime,jdbcType=DATE},
      </if>
    </set>
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital.purchase.domain.Hospital">
    update hospital
    set hospital_name = #{hospitalName,jdbcType=VARCHAR},
      Hospital_number = #{hospitalNumber,jdbcType=VARCHAR},
      Registered_address = #{registeredAddress,jdbcType=VARCHAR},
      business_licence = #{businessLicence,jdbcType=VARCHAR},
      registration_time = #{registrationTime,jdbcType=DATE}
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </update>
</mapper>