<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.purchase.mapper.HospitalMapper">
  <resultMap id="BaseResultMap" type="com.hospital.purchase.domain.Hospital">
    <id column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
    <result column="Hospital_number" jdbcType="VARCHAR" property="hospitalNumber" />
    <result column="Registered_address" jdbcType="VARCHAR" property="registeredAddress" />
    <result column="business_licence" jdbcType="VARCHAR" property="businessLicence" />
    <result column="registration_time" jdbcType="DATE" property="registrationTime" />
  </resultMap>

</mapper>