<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.purchase.mapper.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.hospital.purchase.domain.Supplier">
    <id column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="Supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="Registered address" jdbcType="VARCHAR" property="registeredAddress" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="Registration_time" jdbcType="DATE" property="registrationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    supplier_id, Supplier_name, "Registered address", business_license, Registration_time
  </sql>
  <select id="findSupplier" resultMap="BaseResultMap">
    SELECT * FROM supplier
  </select>
</mapper>