<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <meta charset="UTF-8">
    <title>商品信息维护</title>

</head>
<body>
<center>
    <table border="1" cellspacing="0" style="table-layout:fixed" width="888px">
        <tr>
            <th colspan="4" bgcolor="#f0ffff"><img src="../static/img/jiantou.png" width="17" height="17">|供应商选择</th>
        </tr>
        <tr>
            <td bgcolor="#b0c4de">商品流水号:</td>
            <td><input th:id="drugSerialNumber" th:value="${selectDto?.drugSerialNumber}"/></td>
            <td bgcolor="#b0c4de">通用名:</td>
            <td><input th:id="genericDrug" th:value="${selectDto?.genericDrug}"/></td>
        </tr>
        <tr>
            <td bgcolor="#b0c4de">剂型:</td>
            <td><input th:id="dosageForm" th:value="${selectDto?.dosageForm}"/></td>
            <td bgcolor="#b0c4de">规格:</td>
            <td><input th:id="specification" th:value="${selectDto?.specification}"/></td>
        </tr>
        <tr>
            <td bgcolor="#b0c4de">单位:</td>
            <td><input th:id="units" th:value="${selectDto?.units}"/></td>
            <td bgcolor="#b0c4de">转换系数:</td>
            <td><input th:id="conversionFactor" th:value="${selectDto?.conversionFactor}"/></td>
        </tr>
        <tr>
            <td bgcolor="#b0c4de">生产企业:</td>
            <td><input th:id="enterpriseId" th:value="${selectDto?.enterpriseId}"/></td>
            <td bgcolor="#b0c4de">商品名:</td>
            <td><input th:id="tradeName" th:value="${selectDto?.tradeName}"/></td>
        </tr>
        <tr>
            <td bgcolor="#b0c4de">价格范围:</td>
            <td><input th:id="minMoney" th:value="${selectDto?.minMoney}" style="width:65px"/>至<input th:id="maxMoney"  th:value="${selectDto?.maxMoney}" style="width:65px"/></td>
            <td bgcolor="#b0c4de">质量层次:</td>
            <td>
                <select th:id="leveId">
                    <option th:value="-1">请选择</option>
                    <option th:value="${selectDto?.leveId}" selected></option>
                </select>
            </td>
        </tr>
        <tr>
            <td bgcolor="#b0c4de">药品类别:</td>
            <td>
                <select th:id="dcId">
                    <option th:value="-1">请选择</option>
                    <option th:value="${selectDto?.dcId}" selected></option>
                </select>
            </td>
            <td bgcolor="#b0c4de">药品交易状态: </td>
            <td>
                <select th:id="descripId">
                    <option th:value="-1">请选择</option>
                    <option th:value="0" th:if="${selectDto?.descripId=='0'?'selected':''}" >正常</option>
                    <option th:value="1" th:if="${selectDto?.descripId=='1'?'selected':''}" >暂停交易</option>
                </select>
            </td>
        </tr>
        <tr>
            <td bgcolor="#b0c4de">供应商:</td>
            <td>
                <select th:id="supplierId">
                    <option th:value="-1">请选择</option>
                    <option th:value="${selectDto?.supplierId}" selected></option>
                </select>
            </td>
            <td bgcolor="#b0c4de">审核状态: </td>
            <td>
                <select th:id="result">
                    <option th:value="-1">请选择</option>
                    <option th:value="0" th:if="${selectDto?.result=='0'?'selected':''}" >审核通过</option>
                    <option th:value="1" th:if="${selectDto?.result=='1'?'selected':''}" >审核不通过</option>
                </select>
            </td>
        </tr>
    </table>
    <button type="button" onclick="conditionQuery()" class="btn btn-primary">查询</button>
    <button type="button" onclick="derive()" class="btn btn-primary">导出</button>
</center>
<center>
    <table  border="1" cellspacing="0">
        <thead>
        <tr>
            <th>药品流水号</th>
            <th>通用名</th>
            <th>剂型</th>
            <th>规格</th>
            <th>单位</th>
            <th>转换系数</th>
            <th>生产企业</th>
            <th>商品名称</th>
            <th>中标价</th>
            <th>质量层次</th>
            <th>药品类别</th>
            <th>药品交易状态</th>
            <th>供货商</th>
            <th>审核状态</th>
            <th>修改</th>
            <th>详细</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drugInformationSheet:${drugInformationSheets}">
            <td th:hidden="${drugInformationSheet.drugId}"></td>
            <td th:text="${drugInformationSheet.drugSerialNumber}"></td>
            <td th:text="${drugInformationSheet.genericDrug}"></td>
            <td th:text="${drugInformationSheet.dosageForm}"></td>
            <td th:text="${drugInformationSheet.specification}"></td>
            <td th:text="${drugInformationSheet.units1.units}"></td>
            <td th:text="${drugInformationSheet.conversionFactor}"></td>
            <td th:text="${drugInformationSheet.enterprise?.enterpriseName}"></td>
            <td th:text="${drugInformationSheet.tradeName}"></td>
            <td th:text="${drugInformationSheet.thePrice}"></td>
            <td th:text="${drugInformationSheet.qualityLevel?.levelType}"></td>
            <td th:text="${drugInformationSheet.drugCategory?.drugType}"></td>
            <td th:if="${drugInformationSheet.descripId==0}" th:text="正常"></td>
            <td th:if="${drugInformationSheet.descripId==1}" th:text="暂停交易"></td>
            <td th:text="${drugInformationSheet.supplierManagement?.supplier?.supplierName}"></td>
            <td th:if="${drugInformationSheet.purchase?.result==0}" th:text="审核通过"></td>
            <td th:if="${drugInformationSheet.purchase?.result==1}" th:text="审核不通过"></td>
            <td><a th:href="@{'toUpdateInfo?drugId='+${drugInformationSheet.drugId}}">修改</a></td>
            <td><a>查看</a></td>
        </tr>
        </tbody>
    </table>
</center>
</body>

<script type="text/javascript">
    //导出
    function derive() {
        window.location.href="/poiOut"
    }

    //全选
    function checkall(){
        var checks=document.getElementsByName("one");
        for(var i=0;i<checks.length;i++){
            checks[i].checked=true;
        }
    }

    //动态查询
    function conditionQuery() {
        var drugSerialNumber = $("#drugSerialNumber").val();
        var genericDrug = $("#genericDrug").val();
        var dosageForm = $("#dosageForm").val();
        var specification = $("#specification").val();
        var units = $("#units").val();
        var conversionFactor = $("#conversionFactor").val();
        var enterpriseId = $("#enterpriseId").val();
        var tradeName = $("#tradeName").val();
        var minMoney = $("#minMoney").val();
        var maxMoney = $("#maxMoney").val();
        var leveId = $("#leveId").val();
        var dcId = $("#dcId").val();
        var descripId = $("#descripId").val();
        var supplierId = $("#supplierId").val();
        var result = $("#result").val();

        window.location.href="/findSerchBean2?drugSerialNumber="
            +drugSerialNumber+"&genericDrug="+genericDrug+"&dosageForm="+
            dosageForm+"&specification="+specification+"&units="+units+
            "&conversionFactor="+conversionFactor+"&enterpriseId="+
            enterpriseId+"&tradeName="+tradeName+"&minMoney="+minMoney+
            "&maxMoney="+maxMoney+"&leveId="+leveId+"&dcId="+dcId+
            "&descripId="+descripId+"&supplierId="+supplierId+"&result="+result;
    }

    //页面加载质量层次
    $(function () {
        var a = $("#leveId").val();
        $.ajax({
            type:"POST",
            url:"findQualityLevel",
            dataType:"json",
            success:function (cc) {
                for(var i=0;i<cc.length;i++){
                    if(a==cc[i].levelId){
                        $("#leveId").append("<option selected value='"+cc[i].levelId+"'>"+cc[i].levelType+"</option>")
                    }else {
                        $("#leveId").append("<option value='"+cc[i].levelId+"'>"+cc[i].levelType+"</option>")
                    }
                }
            }
        })
    })

    //页面加载药品类别
    $(function () {
        var a =$("#dcId").val();
        $.ajax({
            type:"POST",
            url:"/findDrugCategory",
            dataType:"json",
            success:function (cc) {
                for(var i=0;i<cc.length;i++){
                    if(a==cc[i].dcId){
                        $("#dcId").append("<option selected value='"+cc[i].dcId+"'>"+cc[i].drugType+"</option>")
                    }else {
                        $("#dcId").append("<option value='"+cc[i].dcId+"'>"+cc[i].drugType+"</option>")
                    }
                }
            }
        })
    })
    //页面加载供货商
    $(function () {
        var a =$("#supplierId").val();
        $.ajax({
            type:"POST",
            url:"/findSupplier ",
            dataType:"json",
            success:function (cc) {
                for(var i=0;i<cc.length;i++){
                    if(a==cc[i].supplierId){
                        $("#supplierId").append("<option selected value='"+cc[i].supplierId+"'>"+cc[i].supplierName+"</option>")
                    }else {
                        $("#supplierId").append("<option value='"+cc[i].supplierId+"'>"+cc[i].supplierName+"</option>")
                    }
                }
            }
        })
    })
</script>
</html>