<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/adminLTE/js/app.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $.ajax({
                url:"seldrugc",
                type:"post",
                datatype:"json",
                success:function (result) {
                    console.log(result);
                   var  v="<option>请选择</option>"
                    for (var i = 0; i <result.length ; i++) {
                        v+="<option value='"+result[i].dcId+"'>"+result[i].drugType+"</option>";
                    }
                    $("#seldrugid").append(v);
                }
            })
        })
    </script>
    <script type="text/javascript">
        function drugadd() {
            $.ajax({
                url: "xxadd",
                data: $("#drugadd-form").serialize(),
                type:"post",
                dataType:"json",
                success : function(result) {
                    if (result == 1) {
                        window.location.href = "/names";
                    } else {
                        alert("添加失败，请重试")
                        window.location.href = "losing.html";
                    }
                }
            })
        }
    </script>
</head>
<body>
    <h2 align="center">药品信息添加</h2>
<form id="drugadd-form">
<table class="table table-bordered">
    <tr>
        <td>
            <input name="drugSerialNumber"/>药品流水号
        </td>
        <td>
            <input name="genericDrug"/>通用名<font color="#FF0000">*</font>
        </td>
    </tr>

    <tr>
        <td>
            <input name="dosageForm"/>剂型<span style="color:red">*</span></td>

        <td>
            <input name="specification"/>规格<span style="color:red">*</span></td>
    </tr>

    <tr>
        <td>
            <input name="units"/>单位<span style="color:red">*</span></td>

        <td>
            <input name="conversionFactor"/>转换系数<span style="color:red">*</span></td>
    </tr>

    <tr>
        <td>
            <input name="enterpriseId"/>生产企业<span style="color:red">*</span></td>

        <td>
            <input name="tradeName"/>商品名称<span style="color:red">*</span></td>
    </tr>

    <tr>
        <td>
            <input name="thePrice"/>中标价<span style="color:red">*</span></td>
        <td>
            <input name="approvalNumber"/>批准文号</td>
    </tr>

    <tr>
        <td>
            <input name="thePrice" type="Date"/>批准文号有效期</td>
        <td>
            <select name="whetherImport">
                <option value="0">是</option>
                <option value="1">否</option>
            </select>是否进口
        </td>
    </tr>

    <tr>
        <td>
            <input name="packaging"/>包装层次</td>
        <td>
            <input name="packingUnit"/>包装单位</td>
    </tr>

    <tr>
        <td>
            <input name="latestRetailPrice"/>最新零售价</td>
        <td>
            <input name="sourcePrice"/>零售价出处</td>
    </tr>

    <tr>
        <td>
            <input name="levelId"/>质量层次</td>
        <td>
            <input name="qualityHierarchy"/>质量层次说明</td>
    </tr>

    <tr>
        <td>
            <select name="inspectionReport">
                <option value="0">有</option>
                <option value="1">无</option>
            </select>有无药品检验报</td>
        <td>
            <input name="drugInspection"/>药品检验报告编号</td>
    </tr>

    <tr>
        <td>
            <input name="drugInspectionReport" type="date"/>药品检验报告有效期</td>
        <td>
            <select name="dcId" id="seldrugid"></select>药品类别
        </td>
    </tr>

    <tr>
        <td>
            <select name="descripId">
                <option value="0">正常</option>
                <option value="1">非正常</option>
            </select>交易状态
        </td>
        <td>
            <input name="description"/>产品说明</td>
        </td>
    </tr>
    <tr>
        <td><button class="btn btn-success" onclick="drugadd()">添加</button>
        <input type="reset" class="btn btn-danger">
            <h5>(带*的必填)</h5>
        </td>
    </tr>
</table>
</form>
</body>
</html>