<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改药品维护信息</title>
</head>
<body>
    <form>
        <table border="1" cellspacing="0">
            <tr>
                <td>流水号:</td>
                <td><input th:value="${drugInformationSheet.drugSerialNumber}" readonly/></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>通用名:</td>
                <td><input th:value="${drugInformationSheet.genericDrug}" readonly/></td>
                <td>剂型:</td>
                <td><input th:value="${drugInformationSheet.dosageForm}" readonly/></td>
            </tr>
            <tr>
                <td>规格:</td>
                <td><input th:value="${drugInformationSheet.specification}" readonly/></td>
                <td>单位:</td>
                <td><input th:value="${drugInformationSheet.units}" readonly/></td>
            </tr>
            <tr>
                <td>转换系数:</td>
                <td><input th:value="${drugInformationSheet.conversionFactor}" readonly/></td>
                <td>生产企业名称:</td>
                <td><input th:value="${drugInformationSheet.enterprise?.enterpriseName}" readonly/></td>
            </tr>
            <tr>
                <td>商品名:</td>
                <td><input th:value="${drugInformationSheet.tradeName}" /></td>
                <td>中标价格:</td>
                <td><input th:value="${drugInformationSheet.thePrice}" readonly/></td>
            </tr>
            <tr>
                <td>批准文号:</td>
                <td><input th:value="${drugInformationSheet.approvalNumber}"/></td>
                <td>批准文号有效期:</td>
                <td><input th:value="${drugInformationSheet.approvalNumberDate}"/></td>
            </tr>
            <tr>
                <td>是否进口药:</td>
                <td>
                    <input th:type="radio" th:text="是" th:value="${drugInformationSheet.whetherImport}"/>
                    <input th:type="radio" th:text="否" th:value="${drugInformationSheet.whetherImport}"/>
                </td>
                <td>包装材质:</td>
                <td><input th:value="${drugInformationSheet.packaging}"/></td>
            </tr>
            <tr>
                <td>包装单位:</td>
                <td><input th:value="${drugInformationSheet.packingUnit}"/></td>
                <td>最新零售价:</td>
                <td><input th:value="${drugInformationSheet.latestRetailPrice}"/></td>
            </tr>
            <tr>
                <td>零售价出处:</td>
                <td><input th:value="${drugInformationSheet.SourcePrice}"/></td>
                <td>质量层次:</td>
                <td>
                    <select>
                        <option th:value="${drugInformationSheet.levelId}"
                                th:text="${drugInformationSheet.qualityLevel?.levelType}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>质量层次说明:</td>
                <td><input th:value="${drugInformationSheet.qualityHierarchy}"/></td>
                <td>有无药品检验报告:</td>
                <td>
                    <input th:type="radio" th:text="有" th:value="0"/>
                    <input th:type="radio" th:text="无" th:value="1"/>
                </td>
            </tr>
            <tr>
                <td>药品检验报告编号:</td>
                <td><input th:value="${drugInformationSheet.drugInspection}"/></td>
                <td>药品检验报告有效期:</td>
                <td><input th:value="${drugInformationSheet.drugInspectionReport}"/></td>
            </tr>
            <tr>
                <td>产品说明:</td>
                <td colspan="3">
                    <textarea  th:value="${drugInformationSheet.description}">
                    </textarea>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>