<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/adminLTE/js/app.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var aa = $("#serugid").val()
            $.ajax({
                url:"seldrugc",
                type:"post",
                datatype:"json",
                success:function (result) {
                    console.log(result);
                   var  v="<option>请选择</option>"
                    for (var i = 0; i <result.length ; i++) {
                        if (result[i].drugType==aa){
                        v+="<option selected = 'selected' value='"+result[i].dcId+"'>"+result[i].drugType+"</option>";
                        }
                        v+="<option value='"+result[i].dcId+"'>"+result[i].drugType+"</option>";
                    }
                    $("#seldrugid").append(v);
                }
            })
        })
    </script>

    <script type="text/javascript">
        $(function() {
            var aa = $("#untid").val()
            $.ajax({
                url:"unt",
                type:"post",
                datatype:"json",
                success:function (result) {
                    console.log(result);
                    var  v="<option>请选择</option>"
                    for (var i = 0; i <result.length ; i++) {
                       if (result[i].units==aa){
                           v+="<option selected = 'selected' value='"+result[i].unitsId+"'>"+result[i].units+"</option>";
                       }
                        v+="<option value='"+result[i].unitsId+"'>"+result[i].units+"</option>";
                    }
                    $("#unt").append(v);
                }
            })
        })
    </script>
    <script type="text/javascript">
        function update() {
        $.ajax({
            url:"upayy",
            data:$("#findadd-form").serialize(),
            type:"post",
            dataType:"json",
            success:function (result) {
                if (result == 1) {
                    alert(1)
                    window.location.href = "names";
                } else {
                    alert("添加失败，请重试")
                    window.location.href = "losing.html";
                }
            }
        })
        }
    </script>

</head>
<body>
    <h2 align="center">药品品目修改</h2>
<form id="findadd-form">
<table align="center" th:each="up : ${uptefind}">
    <tr>
        <td>
            <input type="hidden" th:value="${up.drugId}" name="drugId">
            </td>
    </tr>
    <tr >
        <td >
            <input name="drugItemNo" th:value="${up.drugItemNo}" />药品品目号
        </td>
    </tr>
    <tr>
        <td>
            <input name="genericDrug" th:value="${up.genericDrug}" />通用名
        </td>
    </tr>
    <tr>
        <td>
            <input name="dosageForm" th:value="${up.dosageForm}" />剂型</td>
    </tr>
    <tr>
        <td>
            <input name="specification" th:value="${up.specification}" />规格</td>
    </tr>
    <tr>
        <td>
            <select name="units" id="unt" ></select>单位
            <input type="hidden" id="untid"  th:value="${up.units1.units}">
        </td>

    </tr>
    <tr>
        <td>
            <input name="conversionFactor" th:value="${up.conversionFactor}" />转换系数</td>
    </tr>
    <tr>
        <td>
            <select name="dcId" id="seldrugid"></select>药品类别
            <input type="hidden" id="serugid"  th:value="${up.drugCategory.drugType}">
        </td>
    </tr>
    <tr>
        <td>
            <select name="descripId" th:id="${up.descripId}" >
                <option th:value="0">正常</option>
                <option th:value="1">非正常</option>
            </select>交易状态
        </td>
    </tr>
    <tr>
        <td><button class="btn btn-success" onclick="update()">修改</button>
            <a th:href="@{'names'}" target="iframe">返回</a></td>
    </tr>
</table>
</form>
</body>
</html>