<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>药品品目查询</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/adminLTE/js/app.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $.ajax({
                url:"unt",
                type:"post",
                datatype:"json",
                success:function (result) {
                    console.log(result);
                    var  v="<option>请选择</option>"
                    for (var i = 0; i <result.length ; i++) {
                        v+="<option value='"+result[i].unitsId+"'>"+result[i].units+"</option>";
                    }
                    $("#unt1").append(v);
                }
            })
        })
    </script>
    <script type="text/javascript">
        function delfind() {
            $.ajax({
                url:"delfind",
                type:"post",
                data:"i",
                dataType:"json",
                success:function (reuslt) {
                    if (result.equals(1)) {
                        window.location.href = "/names";
                    } else {
                        alert("添加失败，请重试")
                        window.location.href = "losing.html";
                    }
                }
            })
        }

    </script>
    <style>
        .button{
            background-color: #1aa5fb;

        }
        .table{
            width: 800px;

        }
    </style>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="biankuang">
    <center>
      <form action="mhfind" method="post" >
        <table class="table" border="1" cellspacing="0"  style="table-layout:fixed">
            <tr>
                <th  colspan="4" bgcolor="#f0ffff"><img src="../static/img/箭头.png" width="18" height="18">药品品目查询</th>
            </tr>
            <tr>
                <td bgcolor="#b0c4de" color="red" name="">药品品目号:</td>
                <td><input name="drugItemNo"/></td>
                <td bgcolor="#b0c4de">通用名:</td>
                <td><input name="genericDrug" /></td>
            </tr>
            <tr>
                <td bgcolor="#b0c4de">剂型:</td>
                <td><input name="dosageForm" /></td>
                <td bgcolor="#b0c4de">规格:</td>
                <td><input name="specification" /></td>
            </tr>
            <tr>
                <td bgcolor="#b0c4de"> 单位:</td>
                <td><select name="units" id="unt1">

                </select></td>
                <td bgcolor="#b0c4de">转换系数:</td>
                <td><input name="conversionFactor" /></td>
            </tr>
        </table>
          <input type="submit"value="查询">
      </form>

    </center>
    <button class="btn btn-link"><a th:href="@{'namesadd'}">添加</a></button>&nbsp;
    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal">导入</button>
    <button class="btn btn-link"><a th:href="@{'exceldc'}">导出</a></button>
    <table class="table table-bordered" >
    <tr>
        <td>药品品目号</td>
        <td>通用名</td>
        <td>剂型</td>
        <td>规格</td>
        <td>单位</td>
        <td>转换系数</td>
        <td>药品类别</td>
        <td>交易状态</td>
        <td>详细</td>
        <td>修改</td>
        <td>删除</td>
    </tr><!--th:text="${find.descripId}"-->
       <tr th:each="find : ${findall}">
           <td th:text="${find.drugItemNo}"></td>
           <td th:text="${find.genericDrug}"></td>
           <td th:text="${find.dosageForm}"></td>
           <td th:text="${find.specification}"></td>
           <td th:text="${find.units1.units}"></td>
           <td th:text="${find.conversionFactor}"></td>
          <td th:text="${find.drugCategory.drugType}"></td>
          <td>
               <select th:switch="${find.descripId}">
               <option th:case="1">正常</option>
               <option th:case="0">非正常</option>
               <option th:case="*">其他</option>
               </select>
           </td>
           <td><button type="button" class="btn btn-default">查看</button></td>
           <td><button type="button" class="btn btn-success"><a th:href="@{'uptefind?id='+${find.drugId}}">修改</a></button></td>
           <td><button type="button" class="btn btn-danger" ><a th:href="@{'delfind?ids='+${find.drugId}}">删除</a></button></td>
       </tr>
    </table>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                            <form action="exceldr"  method="post" enctype="multipart/form-data" id="excelForm">
                            <table>
                                <tr>
                                        <input type="file" id="file" name="file" accept=".xlsx"/>
                                </tr>
                            </table>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <input type="submit" value="上传">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>