<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>按采购单查询</title>
    <style>
        .button{
            margin-top:10px;
            width: 50px;
            height: 30px;
            background-color: #1aa5fb;
        }
        .table{
            margin-top:20px;
            width: 1000px;
            border-color: #eff7ff;
        }
        .select{
            width: 175px;
            height: 20px;
        }
        .table1{
            font-size: 0.5px;
            margin-top:30px;
            width: 1200px;
            height: 1px;
        }
    </style>
    <script src="../static/js/plugins/jquery/jquery.min.js"></script>
</head>
<body>
<div class="biankuang">
    <center>
        <table class="table" border="1" cellspacing="0"  style="table-layout:fixed">
            <tr>
                <th  colspan="4" bgcolor="#f0ffff"><img src="../static/img/jiantou.png" width="18" height="18">|按采购单查询</th>
            </tr>
            <tr>
                <td bgcolor="#eff7ff" >采购单编号:</td>
                <td><input id="purchaseNumber"/></td>
                <td bgcolor="#eff7ff"  >采购单名称:</td>
                <td><input id="purchaseName"/></td>
            </tr>
            <tr>
                <td bgcolor="#eff7ff">采购单状态:</td>
                <td>
                    <select class="select">
                        <option value="-1">全部</option>
                        <option value="0">未确认送货</option>
                        <option value="1">已入库</option>
                        <option value="2">已发货</option>
                        <option value="3">无法供货</option>
                    </select>
                </td>
                <td bgcolor="#eff7ff" >采购医院:</td>
                <td><input id="hospitalName"/></td>
            </tr>
            <tr>
                <td bgcolor="#eff7ff">供货商:</td>
                <td>
                    <select class="select">
                        <option value="-1">全部</option>
                        <option value="0">供货商1</option>
                        <option value="1">供货商2</option>
                        <option value="2">供货商3</option>
                    </select>
                </td>
                <td bgcolor="#eff7ff">统计时间:</td>
                <td><input type="text" style="width:72px; height: 15px"/>至<input type="text" style="width:72px; height: 15px"/></td>
            </tr>
            <tr>
                <td bgcolor="#eff7ff">药品流水号:</td>
                <td><input/></td>
                <td bgcolor="#eff7ff">通用名:</td>
                <td><input/></td>
            </tr>
            <tr>
                <td bgcolor="#eff7ff">剂型:</td>
                <td><input style=""/></td>
                <td bgcolor="#eff7ff">规格:</td>
                <td><input style=""/></td>
            </tr>
            <tr>
                <td bgcolor="#eff7ff">单位:</td>
                <td><input/></td>
                <td bgcolor="#eff7ff">转换系数:</td>
                <td><input/></td>
            </tr>
            <tr>
                <td bgcolor="#eff7ff">生产企业:</td>
                <td><input/></td>
                <td bgcolor="#eff7ff">商品名:</td>
                <td><input/></td>
            </tr>
            <tr>
                <td bgcolor="#eff7ff">质量层次:</td>
                <td>
                    <select class="select">
                        <option value="-1">全部</option>
                        <option value="0">特别好</option>
                        <option value="1">很好</option>
                        <option value="2">好</option>
                        <option value="3">不好</option>
                        <option value="4">很差</option>
                    </select>
                </td>
                <td bgcolor="#eff7ff">药品类别: </td>
                <td>
                    <select class="select">
                        <option value="-1">全部</option>
                        <option value="0">进口药</option>
                        <option value="1">国产药</option>
                    </select>
                </td>
            </tr>

        </table>
        &nbsp;
        <button class="button" onclick="MHCX()">查询</button>&nbsp;<button class="button" onclick="DC()">导出</button>
    </center>

    <center>
    <table  border="1" cellspacing="0"  style="table-layout:fixed" class="table1 table-bordered" >
        <tr>
            <td>采购医院</td>
            <td>采购单编号</td>
            <td>采购单名称</td>
            <td>采购状态</td>
            <td>开始采购时间</td>
            <td>结束采购时间</td>
            <td>建单时间</td>
            <td>提交时间</td>
            <td>审核时间</td>
            <td>采购量</td>
            <td>采购金额</td>
            <td>入库量</td>
            <td>入库金额</td>
            <td>退货量</td>
            <td>退货金额</td>
            <td>结算量</td>
            <td>结算金额</td>
        </tr>

        <tr th:each="th : ${purchases}">
            <td th:text="${th.hospital.hospitalName}"></td>
           <td th:text="${th.purchaseNumber}"></td>
            <td th:text="${th.purchaseName}"></td>
            <td th:text="${th.descripId}"></td>
            <td th:text="${#dates.format(th.startTime, 'yyyy-MM-dd')}"> </td>
            <td th:text="${#dates.format(th.overTime, 'yyyy-MM-dd')}"> </td>
            <td th:text="${#dates.format(th.activateTime, 'yyyy-MM-dd')}"> </td>
            <td th:text="${#dates.format(th.submitTime, 'yyyy-MM-dd')}"> </td>
            <td th:text="${#dates.format(th.assessorTime, 'yyyy-MM-dd')}"> </td>
            <td th:text="${th.transactionInfo.orderQuantity}"></td>
            <td th:text="${th.transactionInfo.orderAmount}"></td>
            <td th:text="${th.repertory.receipt}"></td>
            <td th:text="${th.repertory.receiptMoney}"></td>
            <td th:text="${th.transactionInfo.returnNumber}"></td>
            <td th:text="${th.transactionInfo.returnAmount}"></td>
            <td th:text="${th.transactionInfo.settlementNumber}"></td>
            <td th:text="${th.transactionInfo.settlementAmount}"></td>
        </tr>

    </table>
    </center>
</div>
<script type="text/javascript">
    //导出
    function DC() {
        window.location.href="/export"
    }
    //模糊查询
    function MHCX() {
        var hospitalName = $("#hospitalName").val();
        var purchaseNumber = $("#purchaseNumber").val();
        var purchaseName = $("#purchaseName").val();
        window.location.href="PurchaseMHCX?hospitalName="+hospitalName+"&purchaseNumber="+purchaseNumber+"&purchaseName="+purchaseName;
    }
</script>
</body>
</html>
